@import "../../style/fonts.css";

.nav-container {
	display: flex;
	align-items:center;
	height: 8vh;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin-bottom: 5vh;
	img:nth-child(1){
		width: 50px;
		border-right:1px solid lightgray;
		padding: 30px;
	}
	img:nth-child(2){
		height: 25px;
		padding: 25px 10px 25px 15px;
	}
	input {
		font-family:roboto-reg;
		border: none;
		font-size: 1em;
		height: 97%;
		width:100%;
		&:focus {
			outline: none;
		}
		&:placeholder-shown{
			font-family:roboto-reg;
		}
	}
}